@import url('https://fonts.googleapis.com/css2?family=Poppins');
:root {
    --primary-soft-light:hsl(277, 91%, 87%);
    --primary-lighten: hsl(277, 56%, 67%);
    --primary: rgb(116, 28, 171);
    --primary-darker: hsl(277, 73%, 32%);
    --secondary: hsl(288, 13%, 92%);
    --secondary-darker: hsl(285, 4%, 78%);
    --max-width:1280px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'poppins'
}

body {
    margin: 0;
    padding:0;
    overflow-y: auto;
    background-color: #fafafa;
}

.detail-title {
    margin-bottom:0.5rem;
}
.to-top {
    position: fixed;
    bottom:1rem;
    right:1rem;
    border-radius: 10rem;
    padding:0.5rem 0.6rem;
    z-index: 10;
}

.navbar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem 3rem;
}

.navbar {
    max-width: var(--max-width);
    width: 100%;
    margin: auto;
    /* position: fixed;
    right:0;
    left:0;
    top:0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}

.navbar-title {
    font-weight: bold;
    color:var(--primary);
    text-decoration: none;
}

.navbar-links {
    display: flex;
    gap:2rem;
    margin: 0;
    list-style: none;
}

.navbar-link:hover {
    background-color: #fafafa;
} 

.navbar-link a {
    color: black;
    text-decoration: none;
    display: block;
    transition-duration: 0.5s;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar-link a:hover {
    color: var(--primary);
}

.navbar-links-phone {
    display: none;
    padding: 0.5rem 0;
    transition-duration: 1s;
    list-style: none;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    z-index: 9;
}


hamburger-icon {
    cursor: pointer;
    display: none;
}

github-icon {
    cursor: pointer;
}

.button-link {
    color: initial;
    text-decoration:none;
}

.button-link:hover {
    color: initial
}

.button-link:active {
    color: initial
}


.title {
    margin: 0;
}

.sub-title {
    margin: 1rem;
}

.title, .sub-title {
    text-align: center;
}

section#home, section#contact{
    min-height: 100vh;
}

section:nth-child(odd) {
    background-color: var(--secondary);
}

.wrapper {
    background-color: inherit;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding:0.5rem;
}

.text-primary {
    color: var(--primary-lighten);
}
.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    background-color: var(--secondary);
}

.h-fit {
    height: fit-content;
}

.container {
    padding:1rem;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.contents {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:1rem;    
    justify-content: center;
}

.left-right-content {
    padding:0.5rem 0.2rem;
}

.left-right-content > div {
    display: flex;
    gap: 2rem;
    text-align: justify;
    margin-bottom: 1.4rem;
    flex-direction: row;
    align-items: center;

}

.card, .detail-card {
    position: relative;
    z-index: 1;
    padding:1rem;
    background-color: white;
    border-radius:0.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.detail-card-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    column-gap: 2rem;
}

.detail-card-image {
    align-self: center;
}

.detail-icons {
    display: flex;
    gap:1rem;
    flex-direction: column;
}

.icon-with-text:hover {
    background-color: var(--secondary-darker);
}

.icon-with-text {
    display: flex;
    align-items: center; 
    gap: 0.4rem;
    padding: 0.2rem;
}

.card:hover {
    transform: scale(1.02)
}

.card-title {
    text-align: center;
    color:var(--primary);
    font-weight: bold;
}

.flex {
    display: flex;
}

.bottom-content {
    display: flex;
    justify-content:space-evenly;
    padding:0.5rem;
    gap:1rem;
}
.icon-with-name {
    display: flex;
    gap:0.5rem;
    font-size: 22px;
}

.icon-with-name:hover {
    transform: scale(1.05);
}

.img-fluid {
    width:100%;
}

.btn {
    cursor: pointer;
    margin:0.2rem;
    padding: 0.6rem 1.2rem;
    border-radius: 1rem;
    outline: none;
    border: none;
}

.btn-primary {
    background: linear-gradient(45deg, var(--primary), var(--primary-lighten));
    color: white;
}

.btn-primary:hover {
    background: linear-gradient(45deg, var(--primary-darker), var(--primary));
}

.divider {
    background-color: black;
    padding: 0.1rem;
    margin:0.1rem 0;
    display: block;
}

.about-image {
    width: 230px;
}

.projects, .certificates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
}

.icons {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;
}
.content-title {
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}

.badge {
    width: fit-content;
    padding: 0.4rem;
    border-radius: 100rem;
    font-size: smaller;
}

.badge-primary {
    background-color: var(--primary-soft-light);
}

.badge-secondary, .btn-secondary {
    background-color: var(--secondary);
}

.btn-secondary:hover {
    background-color: var(--secondary-darker);
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap:0.4rem;
    margin-top: 0.4rem;
}

.bi:hover {
    transform: scale(1.15);
}
/* small */
@media only screen and (max-width: 600px) {
    hamburger-icon {
        display: block;
    }
    .navbar-links {
        display: none;
    }
    .navbar-links-phone {
        display: flex;
    }
    .navbar-wrapper {
        padding: 0.8rem 2rem;
    }
    .contents {
        flex-direction: column;
    }
    .left-right-content > div{
        flex-direction: column;
    }
    .about-image {
        width: 100%;
    }
    .projects, .certificates{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap:1rem;
    }
    .icons {
        grid-template-columns: repeat(2, 1fr);
    }
    .icon-with-name {
        padding:0;
    }
    section#contact {
        min-height: 50vh;
        padding:2rem 1rem;
    }
    .detail-card-content {
        grid-template-columns: repeat(1,1fr);
    }
}


/* medium */
@media only screen and (min-width: 600px) and (max-width: 780px) {
    .projects, .certificates  {
        grid-template-columns: repeat(2, 1fr);
    }
    .detail-card-content {
        grid-template-columns: repeat(1,1fr);
    }
    .detail-icons {
        display: inline-flex;
        flex-direction: row;
    }
}

/*hd full hd*/
@media screen and (min-width:780px) {
    :root {
        font-size: 20px;
    }
    .detail-icons {
        display: inline-flex;
        flex-direction: row;
    }
   
}